[
  {
    "name": "Control Processor",
    "username": "",
    "password": "",
    "note": ""
  },
  {
    "name": "PTZ Camera",
    "username": "",
    "password": "",
    "note": ""
  },
  {
    "name": "Media box",
    "username": "",
    "password": "",
    "note": ""
  },
  {
    "name": "PCU",
    "username": "",
    "password": "",
    "note": ""
  },
  {
    "name": "AVoIP Manager",
    "username": "",
    "password": "",
    "note": "Kramer AVoIP Manager (172.18.22.5)"
  }
]
